<div class="clear"></div>
<div class="copyright text-center mt-5">
  <p><a href="http://ttc.com" target="_blank" >TTC</a>. All rights reserved | Design by Ivan Alberdi.</p>
</div>	
  <script src="/js/script.js"></script>
</body>
</html>