<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>
<!-- main -->
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="mx-auto w-50 p-3 bg-dark text-white">
					<h1>Lambda-front-ejs-spike on <%= helpers.moment().format('DD-MM-YYYY') %></h1></h1>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('includes/footer.ejs') %>