<!-- <%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="main">
		<div class="container">
			<div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-dark text-white">
							<h1>Lambda-front-ejs-spike</h1>
							<div class="signin-form profile">
								<div class="login-form">
									<% if(errMessage) { %>
										<div><%= errMessage %></div>
									<% } %>
									<form action="/login" method="POST">
										<div class="form-group">
											<label for="email" class="form-check-label">Email</label>
											<input 
												type="email" 
												name="logemail" 
												class="form-control <% if (errFields.errEmail) { %>is-invalid<% } %>"  
												required="required" 
												value="<%= oldInput.logemail %>">
											<div class="invalid-feedback" ><%= errFields.errEmail %></div>
										</div>
										<div class="form-group">
											<label for="password" class="form-check-label">Password</label>
											<input 
												type="password" 
												name="logpassword" 
												class="form-control <% if (errFields.errPassword) { %>is-invalid<% } %>"  
												required="required">
											<div class="invalid-feedback" ><%= errFields.errPassword %></div>
										</div>
										<input type="hidden" name="_csrf" value="<%= csrfToken %>">
										<input type="submit" class="btn btn-primary" value="Log in">
									</form>
								</div>
							</div>
            </div>
        </div>
    	</div>
		</div>
	</div>
<%- include('../includes/footer.ejs') %>

 -->
