<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="mx-auto w-50 p-3 bg-dark text-white">
					<h1><%= helpers.moment().format('DD-MM-YYYY') %></h1>
					<div class="registration-form">
						<form action="/register" method="POST">
							<div class="form-group">
								<label for="email" class="form-check-label">Email</label>
								<input 
									type="email" 
									name="email" 
									class="form-control"  
									required="required" 
									value="">
								<!-- <div class="invalid-feedback" ><%= errFields.errEmail %></div> -->
							</div>
							<div class="form-group">
								<label for="username" class="form-check-label">Username</label>
								<input 
									type="text" 
									name="username" 
									class="form-control" 
									required="required" 
									value="">
								<!-- <div class="invalid-feedback" ><%= errFields.errUsername %></div> -->
							</div>
							<div class="form-group">
								<label for="password" class="form-check-label">Password</label>
								<input 
									type="password" 
									name="password" 
									class="form-control"  
									required="required">
								<!-- <div class="invalid-feedback" ><%= errFields.errPassword %></div> -->
							</div>
							<div class="form-group">
								<label for="password" class="form-check-label">Confirm Password</label>
								<input 
									type="password" 
									name="passwordConf" 
									class="form-control"  
									required="required" >
								<!-- <div class="invalid-feedback" ><%= errFields.errPasswordConf %></div> -->
							</div>
							<input type="submit" class="btn btn-primary" value="Register">
						</form>
					</div>
					<p><a href="#"> By clicking register, I agree with our terms</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../includes/footer.ejs') %>
